export DATABASE_TYPE="postgres"
export DATABASE_HOST="localhost"
export DATABASE_PORT="6432"
export DATABASE_USERNAME="postgres"
export DATABASE_NAME="pure"
export DATABASE_PASSWORD="12345678"
export PGDATA="/data/pg-data"
export BACKEND_PORT="3000"

export DATABASE_URL="${DATABASE_TYPE}://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}"


export SESSION_SECRET="qweqwewqewqeqweqewwqeqewqweqweqweqweqweqweqweqweqweqweqweqweqweqweqweqweqweqweqweqwewqeqweqwqwe"

export REDIS_PORT="6379"
export SESSION_FOLDER="user-session"
export REDIS_URI="redis://localhost:6379"


export IMAGE_TAG="main"
export PG_IMAGE="bitnami/postgresql"
export IMAGE_TAG_PG="latest"
export OPENAI_API_KEY="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"

export BODY_LIMIT="104857600"
export CONNECTION_TIMEOUT="300000"
export HOST="0.0.0.0"
export SESSION_COOKIE_MAX_AGE="86400000"
export SESSION_COOKIE_SECURE="true"
export SESSION_COOKIE_SAME_SITE="lax"
export SESSION_COOKIE_HTTP_ONLY="false"
export MULTIPART_FILE_SIZE="104857600"
export MULTIPART_FIELD_SIZE="2097152"
export MULTIPART_PARTS="100"
export MULTIPART_FILES="5"
export MULTIPART_FIELD_NAME_SIZE="1000"


export REDIS_TIMEOUT="5000"
export REDIS_MAX_RETRIES="3"
export SESSION_PREFIX="session:"
export SESSION_COOKIE_DOMAIN=".whirav.ru"

export MINIO_ENDPOINT="localhost"
export MINIO_PORT="9000"
export MINIO_USE_SSL="false"
export MINIO_ACCESS_KEY="minioadmin"
export MINIO_SECRET_KEY="minioadmin"

export MODEL_TEMPERATURE_TEXT="1.4"
export MODEL_TEMPERATURE_PDF="0.6"
export MODEL_TEMPERATURE_WORD="0.6"
export MODEL_TEMPERATURE_EXCEL="0.6"


