@use '../Global/variables' as *;

.modal-overlay {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100vh;
  height: 100vh;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  z-index: 1002;
  animation: slideInRight 0.3s ease forwards;
  background: $color-bg;
  border-left: 1px solid $color-dark;
  box-shadow: 2px 0 30px rgb(0, 0, 0, 0.5);
}

.modal-content-wrapper {
  display: flex;
  justify-content: center;
}

.modal-content {
  width: 80%;
  margin: 20px;
  padding: 20px;
  color: $color-text;
  background-color: $color-alfa-light;
  border-radius: $radius-lg;
  animation: fadeIn 0.3s ease;

  form .error-banner {
    color: $color-alfa;
    padding: 1rem;
  }
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.modal-header h2 {
  font-size: 1.5rem;
  color: $color-text;
  margin: 0;
}

.modal-footer {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.btn-container {
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: right;
}


.modal-btn-exit {
  font-size: clamp(1.5rem, 0.6vw, 2rem);
  color: $color-dark;
  cursor: pointer;
}

.modal-btn-exit:hover {
  color: $color-accent-hover;
}


form {
  display: flex;
  flex-direction: column;
  border-radius: $radius-lg;
}

.form-group {
  margin-bottom: 16px;
}

.form-group input {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid $color-border-light;
  border-radius: $radius-lg;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease;

  &:focus {
    border-color: $color-dark;
  }
}

.form-group {
  .error-message {
    color: $color-alfa;
    margin-left: 1rem;
  }
}

.submit-btn {
  padding: 12px;
  background-color: $color-border;
  color: $color-white;
  border: none;
  border-radius: $radius-lg;
  font-size: 1rem;
  cursor: not-allowed;
  transition: background-color 0.3s ease;

  &:disabled {
    background-color: $color-border-light;
  }
}

.submit-btn.filled {
  background-color: $color-dark;
  cursor: pointer;

  &:hover {
    background-color: $color-accent-hover;
  }
}

@keyframes slideInRight {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
